<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>
			Se connecter
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<section class="hero is-black is-fullheight">
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered">
						<div class="column is-4 is-offset-4">

							<div class="box has-background-light">
								<div class="section has-text-centered">
									<img src="{{ asset('img/logo/logo.png') }}" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
								</div>

								{{ form_start(formView) }}
								{{ form_errors(formView) }}
								<div class="field">
									<div class="control">
										{{ form_row(formView.email) }}
									</div>
								</div>
								<div class="field ">
									<div class="control">
										{{ form_row(formView.password) }}
									</div>
								</div>
								<div class="field is-grouped">
									<div class="control">
										<button class="button is-link">Se connecter</button>
									</div>
								</div>
								{{ form_end(formView) }}

							</div>
							<p class="has-text-centered">
								<a href="{{ path('home') }}">Retour</a>
								|
								<a class="" href="">Mot de passe oublié</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
