{% extends 'base.html.twig' %}

{% block title %}
	Sculptures
{% endblock %}

{% block body %}
	{% include "shared/_header.html.twig" %}
	<section id="last_work" class="section is-flex is-align-items-center" style="min-height:100vh">
		<div class="container">
			<h1 class="title has-text-light">Derniers travaux</h1>
			<div class="columns is-multiline">

				{% for w in work %}
					<div class="column is-4">
						{% include "shared/_card.html.twig" %}
					</div>
				{% endfor %}

			</div>
			<div class="has-text-centered">
				<a class="button is-white is-outlined" href="{{ path('work') }}">
					<span>Toutes les réalisations...</span>
				</a>
			</div>
		</div>
	</section>

	<section id="a_propos" class="section is-flex is-align-items-center" style="min-height:100vh">
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column is-5">
					<figure class="image is-1by1">
						<img class="is-rounded card p-2" src="{{ asset('img/avatar/' ~ auteur.avatar) }}" alt="Photo de {{ auteur.prenom }} {{ auteur.nom }}">
					</figure>
				</div>
				<div class="column is-6 is-offset-1">
					<h1 class="title has-text-light">
						A propos de l'artiste
					</h1>
					<hr>
					<p class="has-text-light">
						{{ auteur.aPropos | nl2br}}
						<br>
						<span class="tag is-clickable is-medium mt-2" onclick="innerHTML = '{{ auteur.email }}'">Email</span>
						<span class="tag is-clickable is-medium mt-2" onclick="innerHTML = '{{ auteur.telephone }}'">Téléphone</span>
					</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
