{% extends 'base.html.twig' %}

{% block title %}
	{{ w.nom }}
{% endblock %}

{% block body %}
	<section class="hero">
		<div class="hero-head">
			{% include "shared/_navbar.html.twig" %}
		</div>
	</section>
	<section class="section has-text-light" style="min-height:100vh">
		<div class="container">

			<div
				class="is-flex is-justify-content-center">

				<!-- 360 Photo -->
				<div class="cloudimage-360" data-folder="{{ asset('img/' ~ w.file) }}" data-filename="{{ w.nom | lower}}-{index}.jpg" data-amount="{{ nbimages }}" style="max-width: 600px"></div>

			</div>

			<div class=" has-text-centered">
				<h1 class="title has-text-light pt-6">{{ w.nom }}</h1>
				<hr>
				<div class="is-max-desktop">
					<p class="py-6 is-size-5">{{ w.description | nl2br}}</p>
				</div>
			</div>

			<div class="table-container is-max-desktop box has-background-light">
				<table class="table has-text-centered is-fullwidth has-background-light">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Matière</th>
							<th>H x L x P</th>
							<th>Année</th>
							{% if w.enVente == true %}
								<th>Prix</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ w.nom }}</td>
							<td>{{ w.matiere }}</td>
							<td>{{ w.hauteur }}
								x
								{{ w.largeur }}
								x
								{{ w.profondeur }}
								cm</td>
							<td>{{ w.dateRealisation | date("Y") }}</td>
							{% if w.enVente == true %}
								<td>{{ w.prix | amount }}</td>
							{% endif %}
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</section>

{% endblock %}
