<div>
	<a class="button is-light" href="{{ path('product_list')}}">Tableau de bord</a>
	<a class="button is-light" href="{{ path('product_create')}}">Ajouter une sulpture</a>
	<a class="button is-light" href="{{ path('profil_edit')}}">Edition de profil</a>
	<a class="button is-light" href="{{ path('profil_edit')}}">Changer de mot de passe</a>
	<a class="button is-light" href="{{ path('security_logout')}}">Se déconnecter</a>
</div>
