{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
	{% include "shared/_navbar.html.twig" %}
	<section class="section has-text-light container" style="min-height:100vh">
		<h1 class="title has-text-light">Tableau de bord</h1>


		<div class="box has-background-light">
			<table class="table is-fullwidth has-background-light">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Hauteur (cm)</th>
						<th>Largeur (cm)</th>
						<th>Date de réalisation</th>
						<th>Tarif</th>
						<th>En vente</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for p in product %}
						<tr>
							<td>
								<a href="{{ path("show", {'slug': p.slug}) }}">{{ p.nom }}</a>
							</td>
							<td>{{ p.hauteur }}</td>
							<td>{{ p.largeur }}</td>
							<td>{{ p.dateRealisation | date("d/m/Y") }}</td>
							<td>{{ p.prix | amount }}</td>
							<td>
								{% if p.enVente == true %}
									OUI
								{% else %}
									NON
								{% endif %}
							</td>
							<td>
								<a href="{{ path("product_edit", {'id': p.id}) }}" class="button is-info">
									<i class="fa fa-edit"></i>
								</a>
							</td>
							<td>
								<a href="{{ path("product_delete", {'id': p.id}) }}" class="button is-danger" onclick="return(confirm('Confirmer la suppression ?'));">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</section>
{% endblock %}
